.left-form {
-fx-background-color: linear-gradient(to right, #FFC0CB, #FF69B4);
-fx-border-color: #FF69B4;
-fx-border-width: 4px 0px 4px 4px;
}

.right-form {
-fx-background-color:#fff;
-fx-border-color: #000;
-fx-border-width: 4px 4px 4px 0px;
}

.close {
-fx-background-color:transparent;
-fx-cursor:hand;
}

.close:hover {
-fx-background-color: #FFC0CB;
}

.text-field {
-fx-background-color:linear-gradient(to right, #efefef, #eee);
-fx-background-radius:4px;
-fx-border-color: #FF69B4;
-fx-border-width: .4px;
-fx-border-radius: 4px;
-fx-font-size: 14px;
-fx-font-family: "Arial";
}

.text-field:focused {
-fx-background-color:#fff
-fx-border-color:linear-gradient(to right, #FFC0CB, #FF69B4);
-fx-border-width:.8px;
}

.login-btn{
-fx-background-color:linear-gradient(to bottom,#FFC0CB, #FF69B4);
-fx-background-radius: 4px;
-fx-text-fill: #fff;
-fx-font-size: 14px;
-fx-font-family: "Arial";
-fx-cursor: hand;
}

.login-btn:hover {
-fx-background-color:#FFC0CB;
}